@charset 'utf-8';

// mixin

@mixin wrapper {
  max-width: 1000px;
}

// common

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

// header

header {
  margin: 0 auto;
  width: 230px;
  height: 140px;
  align-content: center;

  h1 {
    font-size: 26px;
  }
}

// menu

.menu {
  background-color: #333;
  color: white;

  .nav-flex {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    position: relative;
    @include wrapper;
    
  }

  .nav-content {
    flex: 1;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: 12px;

    @media (min-width: 600px) {
    font-size: 14px; 
    }
  }
}

// dropdown-left1

.item-left1 {
  position: relative;
}

.item-left1:hover {
  .menusingle {
    display: block;
    color: white;
    background-color: black;
  }
}

.menusingle {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* ← item (=ヘッド項目) と同じ幅になる */

  .single-link {
    display: block;
    padding: 18px 0;
  }

  .single-link:hover {
    color: gray
  }

}


// dropdown-left2

.item-left2:hover {
  .menuwide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px 0;
    color: white;
    background-color: black;
  }

  .wide-link {
    display: flex;
    flex-direction: column;
    padding: 18px 0px;
  }
  
  .wide-link:hover {
    color: gray
  }
}

.menuwide {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* ← item (=ヘッド項目) と同じ幅になる */
  width: 100%;
}


// dropdown-right1
.item-right1 {
  position: relative;
}

.item-right1:hover {
  .menusingle {
    display: block;
    color: white;
    background-color: black;
  }
}

// menusingleは同じなので割愛

 


// dropdown-right2

.item-right2:hover {
  .menuwide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px 0;
    color: white;
    background-color: black;
  }

  .wide-link {
    display: flex;
    flex-direction: column;
    padding: 18px 0px;
  }
}

// menuwideは同じなので割愛
